.App {
}

.App-header {
  background-color: #222;
  text-align: center;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Item {
  padding: 20px 10px;
}

.Item .description {
  padding-left: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
